<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Book & Beyond</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/css/styles.css" rel="stylesheet" />
</head>
<body>

<section id="admin-dashboard">
  <div class="admin-sidebar">
    <h3 class="admin-heading">Admin Dashboard</h3>
    <a href="admin-dashboard-books.html">Manage Books</a>
    <a href="admin-dashboard-orders.html">Manage Orders</a>
    <a href="admin-dashboard-users.html">Manage Users</a>
    <a href="admin-dashboard-categories.html">Manage Categories</a>
    <button class="btn logout-btn" onclick="openLogoutModal()">Logout</button>
  </div>

  
  <div class="admin-content">
    <header class="admin-masthead">
      <div>
        <h1 class="admin-main-heading">Welcome to the Admin Dashboard</h1>
        <span class="admin-subheading">Manage Categories with ease</span>
      </div>
    </header>

    <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addCategoryModal">
        Add Category
    </button>

    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" id="addCategoryForm">
          <div class="modal-header">
            <h5 class="modal-title" id="addCategoryModalLabel">Add New Book</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="add-name" class="form-label">Name</label>
              <input type="text" class="form-control" id="add-name" required>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success">Add Category</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <section id="admin-categories">
      <h1 class="admin-categories-list-heading">Categories List</h1>
      <table class="admin-user-list table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="categories-list"></tbody>
      </table>
    </section>
  </div>
</section>


<div id="logoutModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeLogoutModal()">&times;</span>
    <p>Are you sure you want to logout?</p>
    <button class="btn confirm-btn" onclick="confirmLogout()">Yes</button>
    <button class="btn cancel-btn" onclick="closeLogoutModal()">Cancel</button>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<script src="../utils/rest-client.js"></script>
<script src="../utils/constants.js"></script>
 <script src="../services/CategoriesService.js"></script>
<script src="../assets/js/app.js"></script>

<script>CategoriesService.init()</script>

</body>
</html>
