 <!-- page header-->
 <header class="masthead" style="background-image: url('')">
    <div class="container">
        <div class="site-heading">
            <h1>Welcome to Book & Beyond</h1>
            <span class="subheading">Find your next great read!</span>
        </div>
    </div>
</header>



<div class="view-cart-container">
    <a href="cart.html" class="btn view-cart">View Cart 🛒</a>
</div>

<section id="books">
    <main class="books-container">
        <!-- sidebar for genres  -->
        <aside class="genre-filter">
            <h2>Filter by Genre</h2>
            <ul>
                <li><input type="checkbox" name="genre" value="fiction"> Fiction</li>
                <li><input type="checkbox" name="genre" value="non-fiction"> Non-Fiction</li>
                <li><input type="checkbox" name="genre" value="mystery"> Mystery</li>
                <li><input type="checkbox" name="genre" value="fantasy"> Fantasy</li>
                <li><input type="checkbox" name="genre" value="science-fiction"> Science Fiction</li>
                <li><input type="checkbox" name="genre" value="romance"> Romance</li>
                <li><input type="checkbox" name="genre" value="history"> History</li>
            </ul>
        </aside>


       
        <!-- books grid -->
        <section class="books-grid" id="books-list">
        </section>

       
    <div id="single-book-modal" class="single-book-modal">
    <div class="single-book-content">
        <span class="single-book-close-btn">&times;</span>
        <h2 id="single-book-title"></h2>
        <p id="single-book-author"></p>
        <p id="single-book-category"></p>
        <p id="single-book-description"></p>
        <p id="single-book-price"></p>
    </div>
    </div>


        
    </main>
</section>
<script src="../utils/constants.js"></script>
<script src="../utils/rest-client.js"></script>
<script src="../services/BookService.js"></script>

<script>
    BookService.init();
</script>

