<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Book Store" />
    <meta name="author" content="" />
    <title>Book & Beyond</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>


    <!-- navigation-->
    <nav id="mainNav">
    <div class="container">
        <a href="home.html" class="navbar-brand" data-link>Book & Beyond</a>
        <div class="navbar-menu">
            <a href="#home" class="nav-link" data-link data-page="home">Home</a>
            <a href="#about" class="nav-link" data-link data-page="about">About</a>
            <a href="#books" class="nav-link" data-link data-page="books">Books</a>
            <a href="#profile" class="nav-link" data-link data-page="profile">Profile</a>
            <a href="#register" class="nav-link" data-link data-page="register">Register</a>
            <a href="#book" class="nav-link" data-link data-page="book"></a>
        </div>
    </div>
    </nav>

    <div id="main-content"></div>

    
    <!-- page footer-->
    <footer class="border-top bg-dark text-white">
        <div class="container">
            <div class="row justify-content-center">
                
            </div>
        </div>
    </footer>

    <script src="../js/cart.js"></script>
    <script src="../js/app.js"></script>
  
    

</body>
</html>
