 <!-- page header-->
 <header  class="masthead" style="background-image: url('')">
    <div class="container">
        <div class="site-heading">
            <h1>Login to Books & Beyond</h1>
            <span class="subheading">Welcome back!</span>
        </div>
    </div>
  </header>
  
  
  <section id="login">
    <div class="login-container">
        <h2>Log In</h2>
        <form id="login-form">
        
  
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
  
  
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

  
            <button type="submit" class="btn register-btn">Login</button>
        </form>
  
        <p class="register-link">Don't have an account? <a href="#register" data-page="register">Register</a></p>
      
    </div>
  </section>
  