 <!-- page header-->
 <header  class="masthead" style="background-image: url('')">
    <div class="container">
        <div class="site-heading">
            <h1>My Profile</h1>
        </div>
    </div>
</header>


<section id="profile">
    <div class="profile-container">
        <aside class="profile-info">
            <img src="../static/images/logo.jpg" alt="Profile Picture" class="profile-img">
            <div class="profile-details">
                <h2 id="nameSurname"></h2>
                <p>Email Address: <span id="email"></span></p>
                <button class="btn edit-profile-btn" onclick="openEditProfileModal()">Edit Profile</button>
                <button class="btn logout-btn" onclick="openLogoutModal()">Logout</button>

            </div>
        </aside>

       
        <div class="profile-content">
            <section id="previous-purchases" class="profile-section">
                <h3>Previous Purchases</h3>
                <div class="grid-container">
                    <div id="books-cards-row" class="row row-cols-1 row-cols-md-3 g-4">
                    </div>
                </div>
            </section>

           

     <section id="review-history" class="profile-section">
    <h3>Review History</h3>
    <div class="container mt-3">
  <div class="row" id="user-reviews"></div>
</div>



 <button class="btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#addReviewModal">
        Add Review
    </button>

    <div class="modal fade" id="addReviewModal" tabindex="-1" aria-labelledby="addReviewModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <form class="modal-content" id="addReviewForm">
          <div class="modal-header">
            <h5 class="modal-title" id="addReviewModalLabel">Add New Review</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="add-book_id" class="form-label">Book ID</label>
              <input type="text" class="form-control" id="add-book_id" required>
            </div>
            <div class="mb-3">
              <label for="add-rating" class="form-label">Rating</label>
              <input type="text" class="form-control" id="add-rating" required>
            </div>
            <div class="mb-3">
              <label for="add-comment" class="form-label">Comment</label>
              <input type="text" class="form-control" id="add-comment" required>
            </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Add Review</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <div id="logoutModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeLogoutModal()">&times;</span>
            <p>Are you sure you want to logout?</p>
            <button class="btn confirm-btn" onclick="confirmLogout()">Yes</button>
            <button class="btn cancel-btn" onclick="closeLogoutModal()">Cancel</button>
        </div>
    </div>

<div id="editProfileModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeEditProfileModal()">&times;</span>
        <h3>Edit Profile</h3>
        <form id="editProfileForm" onsubmit="saveProfileChanges(event)">
    <label for="name">Full Name:</label>
    <input type="text" id="name" value="User " required>

    <label for="last_name">Full Name:</label>
    <input type="text" id="last_name" value="User " required>

    <label for="email">Email Address:</label>
    <input type="email" id="email" value="user@user.com" required>

    <label for="profileImage">Profile Picture:</label>
    <input type="file" id="profileImage" accept="image/*">

    <div style="margin-top: 15px;">
        <button class="btn confirm-btn" type="submit">Save</button>
        <button class="btn cancel-btn" type="button" onclick="closeEditProfileModal()">Cancel</button>
    </div>
</form>

    </div>
</div>



</section>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../utils/rest-client.js"></script>
<script src="../utils/constants.js"></script>
<script src="../utils/utils.js"></script>
<script src="../services/ProfileService.js"></script>
<!-- <script src="../services/BookService.js"></script> -->
<script src="../services/UserReviewsService.js"></script>


