 <!-- page header-->
 <header  class="masthead" style="background-image: url('')">
    <div class="container">
        <div class="site-heading">
            <h1>My Profile</h1>
        </div>
    </div>
</header>


<section id="profile">
    <div class="profile-container">
        <aside class="profile-info">
            <img src="../static/images/logo.jpg" alt="Profile Picture" class="profile-img">
            <div class="profile-details">
                <h2>John Doe</h2>
                <p>Username: johndoe123</p>
                <p>Email Address: johndoe@example.com</p>
                <button class="btn edit-profile-btn">Edit Profile</button>
            </div>
        </aside>

       
        <div class="profile-content">
            <section id="previous-purchases" class="profile-section">
                <h3>Previous Purchases</h3>
                <div class="grid-container">
                    <div class="profile-card">
                        <img src="../static/images/book1.jpg" alt="Book Cover">
                        <div class="card-details">
                            <h4>Book Title</h4>
                            <p>by Author Name</p>
                            <p class="purchase-date">Purchased on: Jan 15, 2025</p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="wishlist" class="profile-section">
                <h3>Wishlist</h3>
                <p>No items in your wishlist yet.</p>
            </section>

            <section id="review-history" class="profile-section">
                <h3>Review History</h3>
                <p>You haven't left any reviews yet.</p>
            </section>
        </div>
    </div>
</section>
